<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- test update -->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header>
        <!-- NAVBAR START -->
        <div class="container container-nav">
            <nav>
                <ul>
                    <li>
                        <a href="/index.html" class="navbar navbar-a">home</a>
                    </li>
                    <li>
                        <a href="/artists" class="navbar navbar-b">artists</a>
                    </li>
                    <li>
                        <a href="/releases" class="navbar navbar-c">releases</a>
                    </li>
                    <li>
                        <a href="/about" class="navbar navbar-d">about</a> 
                    </li>
                </ul>
            </nav> 
        </div>
        <!-- NAVBAR END -->
    </header>


        <main>
            <div class="main-container">
                <section class="intro-box">
                    <div class="container container-info">
                        <h1>welcome to woodfellaz records</h1>
                        <p>freshly founded dub music netlabel in 2021, located in heidelberg/germany</p>
                    </div>
                </section>
                <section class="content-box">
                    <div class="container container-content">
                        <!-- PHP CODE INSERT HERE -->
                    </div>
                </section>
            </div>       
        </main>


        <footer>
            <div class="card card-left">
                <ul class="sitemap">
                    <li><a href="#">home</a></li>
                    <li><a href="#">artists</a></li>
                    <li><a href="#">releases</a></li>
                    <li><a href="#">about</a></li>
                </ul>
            </div>

            <div class="card card-right">
                <div class="row">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-soundcloud"></i>
                    <i class="fa fa-github"></i>
                </div>    
            </div>
        </footer>


        
        <script src="" async defer></script>
    </body>
</html>